h2 {
  font-weight: bold;
  color: white;
  padding: 50px;
}

h3 {
  font-weight: bold;
  color: gray;
  padding: 50px;
}

#results {
  display: none;
}

body {
  background-color: lightgrey

}

p {
  color: #ffffff
}
